@media only screen and (max-device-width: 578px)
{
  body{
    background-color: white;
  }
  .navbar{
    background-color: #fef7ff;
  }
  #checktab{
    display: none;
  }
  #one{
     background-repeat: no-repeat;
     background-size:cover;
     overflow: hidden;
  }
  #one_right{
    height: auto;
    width: 50%;
    float: right;
  }
  #one form{
  margin-right: 20px;
  }
}
